<div id="main-content" class="container">

    <div class="leftcontainer">
        <div class="row">
            <div class="col-md-12">
               {{ greeting }}
            </div>
        </div>
        
      <div class="row">
          <div class="col-md-6">
              <form class="form-inline">
                  <div class="form-group">
                      <label for="connect">WebSocket connection:</label>
                      <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
                      
                  </div>
              </form>
          </div>
          <div class="col-md-6">
              <form class="form-inline">
                  
                  <button (click)="consumeTopic($event)" name = "topic1" class="btn btn-default" type="submit">Topic 1</button>
    
                  <button (click)="consumeTopic($event)" name = "topic2" class="btn btn-default" type="submit">Topic 2</button>
              </form>
          </div>
    
         
            
        
      </div>
    </div>


    <div class="rightcontainer">
        <ul>
            <li *ngFor="let listIndex of list">
              {{listIndex}}
            </li>
        </ul>
    </div>
</div>
